.title {
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.options {
  border-color: #e7e7e7;
  background-color: transparent;
  color: #e7e7e7;
  font-size: 40px;
  border-radius: 10px;
  cursor: pointer;
}
/*
.options:hover {
  background: #e7e7e7;
  color: black;
} */

.flash {
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.fadeIn1 {
  animation-name: fadeIn;
  animation-delay: 0.5s;
}
.fadeIn2 {
  animation-name: fadeIn;
  animation-delay: 1s;
}

.fadeIn3 {
  animation-name: fadeIn;
  animation-delay: 1.5s;
}
